
.testInput {
    font: inherit;
    padding: 1rem;
    border-radius: 4px;
    background-color: #afaaaa;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.25rem;
  }
  
  .testInput:focus {
    background-color: #e9dcdc;
    outline-color: rgb(46, 40, 39);
  }
  .control input,
  .control textarea {
    font: inherit;
    padding: 1rem;
    border-radius: 4px;
    background-color: #afaaaa;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.25rem;
  }
  