.outerContainer {
  position: fixed;
  width: 50%;
  right: -30vw;
  top: -5vh;
  max-height: 80vh;
  overflow: auto;
}

.outerContainer::-webkit-scrollbar {
  display: none;
}

.outerContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
