.consoleChildrenDiv {
  width: 100%;
  display: flex;
}

.pieceContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  padding: 1rem;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 4px solid rgb(171, 212, 59);
  border-radius: 12px;
  height: 3.5rem;
  font-weight: 900;
  font-size: 2.5rem;
  cursor: pointer;
}

.unclicked {
  color: rgb(171, 212, 59);
  background: transparent;
}

.clicked {
  background: rgb(171, 212, 59);
  color: rgb(110, 28, 28);
}

.pieceContainer:hover {
  background: rgb(171, 212, 59);
  color: rgb(110, 28, 28);
}

.rosterDiv {
  width: 60%;
}

.pieceItself {
  width: 60%;
}

.titleDiv {
  margin-left: 2rem;
}

.editIcon {
  position: absolute;
  right: 1rem;
}

.editIcon:hover {
  color: rgb(232, 57, 238);
}
