.outerContainer {
  width: 100%;
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr 2.5fr; */
  margin-top: 10rem;
}

.performancesDiv {
  width: 50rem;
  margin-right: 2rem;
}

.piecesDiv {
  width: 50rem;
}

.rosterBoxDiv {
  width: 100rem;
}
