.outerContainer {
  width: 100vw;
  display: flex;
  /* grid-template-columns: 1fr 1fr 2.5fr; */
  margin-top: 10rem;
}

.performancesDiv {
  width: 25%;
  margin-right: rem;
}

.piecesDiv {
  width: 25%;
}

.rosterBoxDiv {
  width: 50%;
}
