.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

.outerContainer:hover {
  background: rgb(117, 189, 248);
}

.clicked {
  background: rgb(117, 189, 248);
  color: rgb(82, 87, 9);
}

/* .highlighted {
  transform: translateX(-3rem);
} */

.sectionHeadMargin {
  margin: 2rem 1rem 0.5rem 0;
}

.sectionMargin {
  margin: 0.2rem 1rem 0.4rem 0;
}

.hired {
  background: rgb(78, 77, 71);
  opacity: 0.6;
  /* color: rgb(245, 226, 245); */
  color: white;
}

.unHired {
  background: #f3f1f1;
  opacity: 0.85;
  color: #2c2b2c;
  /* font-weight: 800; */
}

.fadeForOther {
  opacity: 0.3;
}

.rightClicked {
  margin-top: 5rem;
  background: rgb(250, 249, 250);
  color: rgb(117, 189, 248);;
}

.doubleClicked {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgb(236, 239, 244);
  color: #1c1b1c;
  transform: translateX(-4rem);
}

.partDiv {
  width: 20%;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.rankDiv {
  width: 5%;
  font-size: 0.9rem;

}

.playerDiv {
  width: 25%;
  font-size: 0.9rem;
}

.doublingDiv {
  width: 40%;
  font-size: 0.9rem;

}

.mailButtonDiv {
  position: absolute;
  right: 1rem;
}

.icon {
  font-size: 0.8rem;

}
.icon:hover {
  color: rgb(51, 0, 255);
}
