.outerContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 0.15em;
    transition:  .1s cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
  }
  
  .outerContainer:hover {
    background: rgb(197, 219, 247);
    color: rgb(82, 87, 9);
  }
  
  .sectionHeadMargin {
    margin: 2rem 1rem 0.5rem 0;
  }
  
  .sectionMargin {
    margin: 0.25rem 1rem 0.5rem 0;
  }
  
  .hired {
    background: rgb(67, 76, 83);
    opacity: 0.6;
  }
  
  .unHired {
    background: rgb(107, 60, 114);
    opacity: 1;
  }
  
  .fadeForOther {
    opacity: 0.3;
  }
  
  .rightClicked {
    margin-top: 5rem;
    background: rgb(250, 249, 250);
    color: rgb(253, 7, 28);
  }
  
  .partDiv {
    width: 20%;
    padding-left: 0.5rem;
  }
  
  .rankDiv {
    width: 5%;
  }
  
  .playerDiv {
    width: 25%;
  }
  
  .doublingDiv {
    width: 40%;
  }
  
  .mailButtonDiv {
    position: absolute;
    right: 1rem;
  }
  
  .mailIcon:hover {
    color: red;
  }
  