.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
  border: 2px solid #b107e0;
  border-radius: 3px;
  margin: 0.5rem;
  height: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.15em;
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

.outerContainer:hover {
    background: rgb(95, 93, 93) ;
}

.clicked {
  background: rgb(197, 219, 247);
  background: #f3f1f1;;
  color: rgb(82, 87, 9);
}

.sectionHeadMargin {
  margin: 2rem 1rem 0.5rem 0;
}

.sectionMargin {
  margin: 0.25rem 1rem 0.5rem 0;
}

.hired {
  background: rgb(67, 76, 83);
  opacity: 0.6;
}

.unHired {
  /* background: rgb(138, 136, 138); */
  background: #f3f1f1;;
  opacity: 1;
}

.fadeForOther {
  opacity: 0.3;
}

.rightClicked {
  margin-top: 5rem;
  background: rgb(250, 249, 250);
  color: rgb(253, 7, 28);
}

.doubleClicked {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgb(236, 239, 244);
  color: rgb(60, 2, 2);
  transform: translateX(-4rem);
}

.partDiv {
  width: 20%;
  padding-left: 0.5rem;
}

.rankDiv {
  width: 5%;
}

.playerDiv {
  width: 25%;
}

.doublingDiv {
  width: 40%;
}

.mailButtonDiv {
  position: absolute;
  right: 1rem;
}

.icon:hover {
  color: red;
}
