/* .outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 2rem;
  width: 90%;
  border-radius: 3px;
  border: 2px solid rgb(102, 98, 98);
  color: #434344;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.outerContainer:hover {
  background: rgb(117, 189, 248);
  color: #434344;
}

.name {
  width: 23%;
}

.contractTitle {
  width: 10%;
}

.email {
  width: 15%;
}

.cellPhone {
  width: 8%;
}

.editButtonDiv {
  position: absolute;
  right: 1rem;
  padding: 0;
  margin: 0;
}

.editButton {
  font-size: 1.3rem;
}

.editButton:hover {
  color: red;
} */
