.outerContainer {
  position: relative;
  margin: 0 0 1rem 3rem;
  color: rgb(243, 233, 233);
}

.clicked,
.outerContainer:hover {
  color: #fec302;
  font-size: 110%;
  font-weight: 900;
  cursor: pointer;
}
