.partDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 2.5rem;
  padding: 0 0.3rem;
  margin: .25rem;
  letter-spacing: 0.15em;
  cursor: pointer;
}

.highlightedDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.5rem;
  background: rgb(243, 243, 248);
}

.partLi {
  /* font-size: 0.5rem; */
  font-weight: 700;
  color: white;
}

.highlightedLi {
  color: rgb(58, 6, 6);
  font-weight: 700;
}


.partDiv:hover li {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.5rem;
}
