.infoContainer {
  position: fixed;
  right: 20%;
  background: #f3f1f1;
  height: 100vh;
  width: fit-content;
  padding: 2rem 5rem 0 1rem;
  color: rgb(30, 29, 29);
  animation: slide-in 300ms ease-out forwards;
}

.nameDiv {
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(50rem);
  }
  to {
    opacity: 1;
    transform: translateX(20rem);
  }
}
