.header {
  width: 100%;
  height: 5.2rem;
  display: flex;
  position: fixed;
  top: 0;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
  /* background: rgb(14, 0, 10); */
  /* background: #a19fa1; */
  background: #2c2b2c;
}

.logo h1 {
  font-size: 2.3rem;
  color: #b107e0;
  font-weight: 900;
  margin-right: 0;
  /* text-shadow: .5px .5px rgb(243, 237, 237); */
}

.nav ul {
  list-style: none;
  display: flex;
  margin-left: 5rem;
  padding: 0;
}

.nav li {
  margin-left: 4rem;
  font-size: 1.4rem;
  font-weight: 900;
}

.newFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  margin-left: 0;

}

.newFormDiv li {
  font-size: 14px;
}

.icon {
  font-size: 3rem;
}

.icon:hover {
  color: #d5ced4;
}

.nav a,
.navItem {
  text-decoration: none;
  color: #b107e0;
  transition: .1s;
  font-size: 1.8rem;
}


.nav a:hover{
  color: #d5ced4;
}


.nav a:active,
.nav a.active {
  color: #f5eef3;
}

.navItem {
  cursor: pointer;
}
