.outerContainer {
  width: 90%;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.control input,
.control textarea {
  font: inherit;
  padding: 1rem;
  border-radius: 4px;
  /* background-color: #f0f0f0; */
  background-color: #d4cccc;

  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #cbf8f8;
  outline-color: teal;
}

.titleDiv {
  margin: 1rem;
}

.titleDiv h2 {
  color: midnightblue;
  font-size: 2rem;
  font-weight: 900;
}

.percussionDiv {
  margin-right: 3rem;
}

.buttonDiv {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 90%;
  display: flex;
}

.button {
  width: fit-content;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 900;
  white-space: nowrap;
  /* background: #161e66; */
  background: linear-gradient(
    to right,
    #161e66,
    #161e66,
    #161e66,
    #161e66,
    #1e2886,
    rgb(233, 228, 228)
  );
  color: whitesmoke;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  background: rgb(13, 80, 30);
  color: chartreuse;
}
