.outerContainer {
  width: 60%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  margin: 1rem 1rem;
  padding: 0;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: 700;
  display: block;
  /* margin-bottom: 0.5rem; */
}
.control input,
.control textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  background: #f3f1f1;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #e9dcdc;
  outline-color: rgb(46, 40, 39);
}

.button {
  width: fit-content;
  background: none;
  color: black;
  border: 4px solid #fec302;
  padding: 8px 30px;
  margin: 1rem;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  transition: all 0.25s ease-out;
}

.nameAndInstrumentDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameDiv {
  width: 50%;
}

.instrumentsButtonDiv button {
  padding: 0 2rem;
  color: black;
  border: 3px solid black;
}

.instrumentsButtonDiv button:hover {
  background: black;
  color: whitesmoke;
}

.instrumentsListDiv {
  position: fixed;
  width: 40%;
  margin-left: 50vw;
  max-height: 20rem;
  overflow: auto;
}

.phoneDiv {
  display: flex;
}

.phoneDiv div {
  width: 40%;
  margin-right: 2rem;
}

.emailDiv {
  width: 90%;
}

.cityStateDiv {
  display: flex;
}

.city {
  width: 50%;
  /* margin-right: 1rem; */
}
.state {
  width: 10%;
  /* margin-right: 1rem; */
}

.unionsDiv {
  width: 40%;
}

.checkedDiv {
  display: flex;
  width: 90%;
  font-weight: 900;
  margin: 3rem auto;
}

.checkedDiv div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.checkedDiv input {
  width: 50%;
}

.buttonDiv {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  font-weight: 900;
}

.button:hover {
  background: #fec302;
  color: rgb(92, 82, 82);
}

.deleteButton {
  width: fit-content;
  background: rgb(161, 21, 21);
  border-radius: 5px;
  box-shadow: 2px 2px black;
  color: whitesmoke;
}

.deleteButton:hover {
  color: chartreuse;
  background: red;
}

.subOrContract {
  color: white;
  border: 4px solid white;
}

.subOrContract:hover,
.highlightedType {
  background: white;
  color: #3b3b3b;
}
