.familyDiv {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px #6b6969;
  border-radius: 5px;
  margin-bottom: 3rem;
  padding: 2rem;
  cursor: pointer;
}

.label {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  padding-right: 1rem;
  color: rgb(39, 39, 143);
  font-weight: 900;
}

.label:hover {
  color: rgb(236, 22, 182);
}
