
.familyDiv {
    display: flex;
    justify-content: space-between;
    border: 4px solid #837f7f;
    box-shadow: 2px 2px #6b6969;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 2rem;
    cursor: pointer;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    padding-right: 1rem;
    color: rgb(39, 39, 143);
    font-weight: 900;
  }

  .label:hover {
    color: rgb(236, 22, 182);
  }