.valid,
.control textarea {
  font: inherit;
  padding: 1rem;
  border-radius: 4px;
  background-color: #e8e9f8;
  border: 1px solid #c1d1d1;
  display: block;
  font-size: 1.25rem;
  width: 6em;
  margin: 1.5rem;
}

.valid:focus,
.control textarea:focus {
  background-color: #dcdde9;
  outline-color: rgb(100, 100, 231);
}

.invalid {
  font: inherit;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(244, 167, 167);
  outline-color: rgb(90, 4, 4);
  border: 1px solid #c1d1d1;
  display: block;
  font-size: 1.25rem;
  width: 6em;
  margin: 1.5rem;
}
