.input,
.control textarea {
  font: inherit;
  padding: 1rem;
  border-radius: 4px;
  background-color: #afaaaa;
  border: 1px solid #c1d1d1;
  display: block;
  font-size: 1.25rem;
  width: 20%;
  margin: 1.5rem;
}

.input:focus,
.control textarea:focus {
  background-color: #e9dcdc;
  outline-color: rgb(100, 100, 231);
}