.pieceContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem 1.5rem;
  padding: 1rem 0 0 5rem;
  width: 100%;
  height: 3.5rem;
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pieceContainer:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
}

.unclicked {
  color: #1c1b1c;
  background: transparent;
}

.clicked {
  color: rgb(117, 189, 248);
}

.rosterDiv {
  width: 60%;
}

.pieceItself {
  width: 60%;
}

.titleDiv {
  margin-left: 2rem;
  font-size: 1vw;
  font-weight: 900;
  letter-spacing: 2px;
  transition: 0.1s linear;
}

.editIcon {
  position: absolute;
  right: 1rem;
}

.editIcon:hover {
  color: rgb(232, 57, 238);
}
