
.loading {
    position: fixed;
    top: 50vh;
    left: 50vw;
    animation: spin 1s ease-in-out infinite;
    border: 5px solid rgb(241, 51, 44);
    border-top-color: #333;
    border-radius: 50%;
    display: block;
    height: 20rem;
    margin-left: 2rem;
    width: 20rem;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }