.outerContainer {
    display: flex;
    justify-content: space-between;
}

.initialButtonsDiv {
    display: flex;
    flex-direction: row;
}

.div {
  display: flex;
  width: fit-content;
  background: none;
  color: #fec302;
  padding: 8px 1rem;
  margin: 1rem;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  transition: all 0.25s ease-out;
}

.subOrContract {
  color: black;
  border: 2px solid black;
}

.subOrContract:hover,
.highlightedType {
  background: rgb(33, 33, 34);
  color: whitesmoke;
}

.icon { 
  font-size: 2rem;
  margin-left: 1.5rem;
}
