.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 12px;
  border: 2px solid rgb(102, 98, 98);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.unclicked {
  background: transparent;
  color: rgb(245, 220, 220);
}

.clicked {
  background: rgb(243, 215, 215);
  color: #3b3b3b;
}

.outerContainer:hover {
  background: rgb(243, 215, 215);
  color: #3b3b3b;
}

.libNumberDiv {
  width: 5%;
}

.titleDiv {
  width: 20%;
}

.lastNameDiv {
  width: 15%;
}
.arrangerDiv {
  width: 10%;
}

.otherNameDiv {
  width: 10%;
}
.publisherDiv {
  width: 10%;
}
.durationDiv {
  width: 5%;
}
