.outerContainer {
    width: 100%;
    display: flex;
}



.input,
.control textarea {
  font: inherit;
  padding: 1rem;
  border-radius: 4px;
  background-color: #e8e9f8;
  border: 1px solid #c1d1d1;
  display: block;
  font-size: 1.25rem;
  width: 4em;
  margin: 1rem;
}

.input:focus,
.control textarea:focus {
  background-color: #dcdde9;
  outline-color: rgb(100, 100, 231);
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: rgb(39, 39, 143);
  font-weight: 900;
  cursor: pointer;
}

.label:hover {
  color: rgb(171, 13, 13);
}
