.outerContainer {
  margin: 1rem 0 0 5rem;
}

.pieceContainer {
  display: flex;
  margin: 1rem;
}

.lastNameDiv {
  width: 25%;
  font-weight: 700;
  font-size: 1.2rem;
}

.titleDiv {
  width: 30%;
  font-weight: 700;
  font-size: 1.2rem;
}

.durationDiv {
  font-weight: 700;
  font-size: 1.2rem;
}
