.sideBar {
  position: fixed;
  height: 100%;
  border-radius: 2px;
  left: 0;
  z-index: 5;
  background: #1c1b1c;
  animation: slide-in .5s;
  list-style: none;
  text-decoration: none;

}

.menuOption {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
  letter-spacing: .1em;
  color: #f3f1f1;
  margin: 4rem 4rem;
  cursor: pointer;
}

.menuOption:hover {
  text-decoration: underline;
  /* text-decoration-thickness: 1px; */
  text-underline-offset: 1rem;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-30rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}