.sideBar {
  position: fixed;
  height: 100%;
  left: 0;
  z-index: 5;
  background: #1c1b1c;

}

.menuOption {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  color: #f3f1f1;
  margin: 6rem 4rem;
  cursor: pointer;
}

.menuOption:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1rem;
}
