.outerContainer {
  display: flex;
}


.instContainer {
  position: relative;
  margin: 0.25rem 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  /* background: linear-gradient(
    to left,
    transparent,
    #cdcbec,
    rgb(85, 85, 90),
    rgb(85, 85, 90),
    rgb(85, 85, 90),
    rgb(85, 85, 90)
  ); */
  background: rgb(147, 164, 247);
  font-weight: 900;
  transform: translateX(-5rem);
  z-index: 2;
  cursor: pointer;
  transition: 0.2s linear;
}

.instNameDiv {
}

.instNameDiv:hover {
  color: white;
}

.triangle {
  border-right: 20px solid rgb(14, 2, 63);
  border-top: 20px solid transparent;
  display: inline-block;
  margin-right: 0.75rem;
  cursor: pointer;
}

.triangle:hover {
  border-right: 20px solid white;
}

/* .triangle {
  border-left: 20px solid cyan;
  border-right: 20px solid red;
  border-bottom: 20px solid green;
  border-top: 20px solid blue;
} */


.numberDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  color: rgb(2, 26, 68);
  font-size: 2rem;
  font-weight: 900;
}

.button {
  width: fit-content;
  background: none;
  color: rgb(21, 1, 69);
  border: 3px solid rgb(32, 32, 255);
  padding: 1px 6px;
  /* margin: 1rem; */
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  /* float: right; */
  transition: all 0.25s ease-out;
}

.button:hover {
  background: midnightblue;
  color: rgb(173, 151, 151);
}
