.outerContainer {
  display: flex;
}


.instContainer {
  position: relative;
  margin: 0.25rem 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  /* background: linear-gradient(
    to left,
    transparent,
    #cdcbec,
    rgb(85, 85, 90),
    rgb(85, 85, 90),
    rgb(85, 85, 90),
    rgb(85, 85, 90)
  ); */
  background: rgb(147, 164, 247);
  font-weight: 900;
  transform: translateX(-5rem);
  z-index: 2;
  cursor: pointer;
  transition: 0.2s linear;
}

.instNameDiv {
}

.instNameDiv:hover {
  color: white;
}

.triangle {
  border-right: 20px solid rgb(14, 2, 63);
  border-top: 20px solid transparent;
  display: inline-block;
  margin-right: 0.75rem;
  cursor: pointer;
}

.triangle:hover {
  border-right: 20px solid white;
}

/* .triangle {
  border-left: 20px solid cyan;
  border-right: 20px solid red;
  border-bottom: 20px solid green;
  border-top: 20px solid blue;
} */
