
.pieceContainer {
    display: flex;
    width: 60%;
    margin: 1rem;
    padding: 0.5rem;
    border: solid white 1px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .lastNameDiv {
    width: 25%;
    font-weight: 700;
    font-size: 1rem;
  }
  
  .titleDiv {
    width: 50%;
    font-weight: 700;
    font-size: 1rem;
  }
  
  .durationDiv {
    font-weight: 700;
    font-size: 1.2rem;
  }
  