.outerContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0rem;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-weight: 700;
  z-index: 1;
  color: rgb(32, 9, 9);
  transition: linear 0.2s;
}

.unclickedItem {
  background: linear-gradient(to left, transparent, #cbd1ec, rgb(90, 85, 85));
  cursor: pointer;
}

.outerContainer:hover {
  background: rgb(44, 120, 182);
}

.clicked {
  background-color: #e7de57;
  cursor: pointer;
  transform: translateX(-1rem);
}

.nameDiv {
  width: 95%;
  font-size: 1rem;
}

.lastNameDiv {
  font-size: 1rem;
}

.icon:hover {
  color: rgb(246, 255, 0);
}
