.outerContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 4rem;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-weight: 900;
    z-index: 1;
    color: rgb(32, 9, 9);
    text-transform: uppercase;
  }
  
  .unclickedItem {
    background: linear-gradient(to left, transparent, #eccbcb, rgb(90, 85, 85));
    cursor: pointer;
  }
  
  .outerContainer:hover {
    background: rgb(44, 120, 182);
  }
  
  .clickedItem {
    background-color: #e7de57;
    cursor: pointer;
  }
  
  .nameDiv {
    width: 50%;
    font-size: 1rem;
  }
  
  .lastNameDiv {
    font-size: 1rem;
  }
  