.familyDiv {
  display: flex;
  margin: 1rem 2rem;
  border: 1px dotted rgb(39, 39, 143);
  border-radius: 10px;
}

.label {
  display: flex;
  justify-content: center;
  transform: translateY(3rem);
  width: 13%;
  padding-right: 1rem;
  color: rgb(39, 39, 143);
  font-weight: 900;
  cursor: pointer;
}

.label:hover {
  color: rgb(171, 13, 13);
}

.input {
  font: inherit;
  padding: 1rem;
  border-radius: 4px;
  background-color: #afaaaa;
  border: 1px solid #c1d1d1;
  display: block;
  font-size: 1.25rem;
  width: 10%;
  margin: 1.5rem;
}

.input:focus,
.control textarea:focus {
  background-color: #e9dcdc;
  outline-color: rgb(100, 100, 231);
}

.buttonsDiv {
  display: flex;
  margin-left: 5rem;
  animation: slide-in linear .3s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(50rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
