.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
  padding: .5rem;
  width: 50%;
  border-radius: 12px;
  border: 2px solid rgb(102, 98, 98);
  color: rgb(46, 44, 44);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.outerContainer:hover {
  background: rgb(117, 189, 248);
  color: #434344;
}

.nameDiv {
  width: 40%;
  padding-left: 10rem;
}

.abbrevDiv {
}

.iconDiv {
  position: absolute;
  right: 5rem;
}

.icon {
  font-size: 1.5rem;
}

.icon:hover {
  color: chartreuse;
}
