.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 50%;
  border-radius: 12px;
  border: 2px solid rgb(102, 98, 98);
  color: rgb(241, 228, 228);
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.outerContainer:hover {
  background: rgb(243, 215, 215);
  color: #3b3b3b;
}

.nameDiv {
  width: 40%;
  padding-left: 10rem;
}

.abbrevDiv {
}

.iconDiv {
  position: absolute;
  right: 5rem;
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  color: rgb(219, 4, 165);
}
