.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: .5rem 1rem;
  padding: 2rem;
  width: 100%;
  font-weight: 900;
  color: #b3b4ad;
  cursor: pointer;
  transition: 0.25s linear;
}

.outerContainer:hover {
  /* background: #635f63; */
  /* color: rgb(236, 228, 228); */
  /* border-bottom: 3px solid #c3c4b7; */
  text-decoration: underline;

}

.unclicked {
  /* background: rgb(53, 43, 51);
  background: #4a4849;
  color: whitesmoke; */
  /* background: transparent;  */
  /* color: rgb(245, 220, 220); */
  /* /* color: rgb(201, 192, 199); */
  /* background: #2c2b2c; */
}

.clicked {
  color: #faf029;
}

.titleDiv {
  width: 80%;
  font-size: 2rem;
}

.dateDiv {
  width: 10%;
}

.buttonsDiv {
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.plusSign {
  margin-right: 2rem;
}

.plusSign:hover {
  color: rgb(250, 44, 17);
}

.editButton:hover {
  color: red;
}
