.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 2rem;
  width: 100%;
  font-weight: 700;
  color: #1c1b1c;
  cursor: pointer;
  transition: 0.25s linear;
}

.outerContainer:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
}

.clicked {
  color: #042dfc;
}

.titleDiv {
  width: 80%;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.dateDiv {
  width: 10%;
  font-size: 1rem;
}

.buttonsDiv {
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.plusSign {
  margin-right: 2rem;
}

.plusSign:hover {
  color: rgb(250, 44, 17);
}

.editButton {
  font-size: 1.2rem;
}

.editButton:hover {
  color: rgb(60, 0, 255);
}
