.outerContainer {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.4fr;
  margin-top: 10rem;
}

.concertsDiv {
  margin-right: 2rem;
}

.piecesDiv {
  margin: 1rem;
}

.rostersDiv {
}
