/* .outerContainer {
  margin-top: 10vh;
  display: flex;
}

.innerContainer {
  width: 70%;
  margin: 2rem;
}

.section {
  position: relative;
  margin-bottom: 2rem;
  padding: 2rem;
  background: #f3f1f1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionTitle {
  margin-bottom: 1rem;
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
  opacity: 0.8;

}

.playerContainer {
  font-size: 1.5rem;
  width: 70%;
} */
