.outerContainer {
  display: none;
  width: 30%;
  position: fixed;
  bottom: 20rem;
  left: 20%;
}

.visible {
  display: block;
}

/* position: fixed;
  display: block;
  width: 55%;
  top: 13vh;
  right: -25vw;
  margin-left: 10vw;
  max-height: 50vh;
  overflow: auto; */
