.outerContainer {
  width: 80%;
  display: grid;
  grid-template-columns: .8fr 0.5fr 0.4fr;
  margin-top: 10rem;
}

.concertsDiv {
  margin-right: 2rem;
}

.piecesDiv {
  margin: 1rem;
}

.rostersDiv {
}
