.outerContainer {
  width: 90%;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10rem;
}

.piecesDiv {
}

.concertsDiv {
  margin-right: 2rem;
}

.piecesDiv {
  margin: 1rem;
}
