.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem 1rem 1rem 2rem;
  width: 90%;
  /* background: #4e4a4e; */
  background: #f3f1f1;

  border-radius: 3px;
  border: 2px solid rgb(204, 199, 199);
  color: rgb(67, 67, 70);
  /* text-transform: uppercase; */
  font-weight: 700;
  cursor: pointer;
}

.outerContainer:hover {
  background: rgb(117, 189, 248);
}

.nameDiv {
  width: 15%;
}

.logTypesDiv {
  margin-right: 2rem;
}

.showTitleDiv {
  width: 30%;
}

.replyDiv {
  height: 100%;
  width: 10%;
}

.checkIcon {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(120, 249, 7);
}

.xIcon {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(180, 4, 10);
}

.questionIcon {
  font-size: 2rem;
  font-weight: 900;
  color: lightblue;
}
