.outerContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 2.5rem;
  background: rgb(67, 76, 83);
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.15em;
  cursor: pointer;
}

.clickedSpot {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 2.5rem;
  background: rgb(226, 231, 236);
  color: rgb(75, 28, 59);
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.15em;
  cursor: pointer;
}

.outerContainer:hover{
  background: rgb(228, 231, 235);
  color: rgb(5, 70, 19);
}

.partDiv{
  width: 20%;
  padding-left: .5rem;
}

.rankDiv{
  width: 15%;
}

.playerDiv{
  width: 25%;
}

.mailButtonDiv {
  position: absolute;
  right: 1rem;
}

.mailIcon:hover {
  color: red;
}
