.outerContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 4rem;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-weight: 900;
  z-index: 1;
}

.unclickedItem {
  background-color: #c2e7f0;
}

.pieceItemDiv:hover {
  background: rgb(44, 120, 182);
}

.clickedItem {
  background-color: #c7bf4d;
}

